<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Icon - IconMonster -->
    <title>Main</title>

    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css"/>
    <!-- Mumble UI -->
    <link th:href="@{/css/uikit/styles/uikit.css}" rel="stylesheet"/>
    <!-- Dev Search UI -->
    <link th:href="@{/css/styles/app.css}" rel="stylesheet"/>

</head>

<body>
<!-- Header Section -->
<header th:replace="main/nav::nav"></header>

<main class="projects">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>게시글을 검색해보세요!</h2>
                <span>
                    <h5 th:text="|전체 게시글 : ${postCount} & 전체 댓글 : ${commentCount}|">게시글 수</h5>
                </span>
            </div>

            <div class="hero-section__search">
                <form class="form" action="#" method="get">
                    <div class="form__field">
                        <label for="formInput#search"></label>
                        <input class="input input--text" id="formInput#search" type="text" name="text"
                               placeholder="제목, 작성자, 해시태그, 내용 등"/>
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Search"/>
                </form>
            </div>
        </div>
    </section>
    <div class="card text-center" th:each="p : ${posts}">
        <div class="card-body" style="display: inline;">
            <span style="color:red" th:if="${p.isNew}" th:text="|[NEW!]|"></span>&nbsp;
            <a th:href="@{/post/{id}(id=${p.post_id})}">
                <h3 class="project__title" th:text="${p.title}"></h3>
            </a>
            <span th:text="| [${p.commentSize}] |"> </span>
            &nbsp;&nbsp;
            <span class="tag tag--pill tag--main">
                <small th:text="${p.writer}"></small>
            </span>
        </div>
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
            <span>
                <a style="font-weight: bold;">좋아요 : </a><span class="project--rating" th:text="| (${p.likes})|"></span>&nbsp;
                <a style="font-weight: bold;">조회수 : <span class="project--rating" th:text="| (${p.viewed})|"></span></a>&nbsp;
                <a style="font-weight: bold;">등록일 : <span class="project--rating" th:text="| ${p.created}|"></span></a>
            </span>
            </ul>
        </div>
    </div>
    <div class="pagination">
        <ul class="container" th:with="start = ${paging.first}, last=${paging.end}">
            <li th:style="${posts.first} ? 'display:none'">
                <a th:href="@{/(page=${paging.number})}" class="btn">&#10094; Prev</a>
            </li>

            <li  th:each="p : ${#numbers.sequence(start,last)}">
                <a th:if="${p==paging.number+1}" th:href="@{/(page=${p})}" class="btn btn--sub" th:text="${p}"></a>
                <a th:if="${p!=paging.number+1}" th:href="@{/(page=${p})}" class="btn" th:text="${p}">     </a>
            </li>


            <li th:style="${posts.last}? 'display:none'">
                <a th:href="@{/(page=${posts.number+2})}" class="btn">Next &#10095;</a>
            </li>

        </ul>
    </div>
</main>
</body>

</html>