<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css"/>
  <!-- Mumble UI -->
  <link th:href="@{/css/uikit/styles/uikit.css}" rel="stylesheet"/>
  <!-- Dev Search UI -->
  <link th:href="@{/css/styles/app.css}" rel="stylesheet"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>게시글 상세</title>
</head>

<body>
  <!-- Header Section -->
  <header class="header" th:replace="main/nav :: nav"></header>

  <!-- Main Section -->
  <main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <h3 class="singleProject__subtitle">해시태그</h3>
          <div class="singleProject__toolStack">
            <span class="tag tag--pill tag--sub tag--lg" th:each="h : ${hashtags}">
              <small th:text="|#${h.name}|">해쉬태그1</small>
            </span>
<!--            <span class="tag tag&#45;&#45;pill tag&#45;&#45;sub tag&#45;&#45;lg">-->
<!--              <small>해쉬태그2</small>-->
<!--            </span>-->
          </div>
          <a class="tag tag--pill tag--main settings__btn" th:href="@{/post/{id}/edit(id=${post.postId})}"><i class="im im-edit"></i> 수정하기</a>
          <a class="tag tag--pill tag--main settings__btn" th:onclick="del([[${post.postId}]])"><i class="im im-x-mark-circle-o"></i>삭제하기</a>
        </div>

        <div class="column column--2of3">
          <h2 class="singleProject__title" th:text="${post.title}">제목</h2>
          <a href="profile.html" class="singleProject__developer" th:text="|by ${post.writer}|">by 작성자</a>
          <h3 class="singleProject__subtitle" th:text="${post.created}">본문 : </h3>
          <div class="singleProject__info" th:text="${post.content}">
          </div>

          <div class="comments">
            <h3 class="singleProject__subtitle">댓글</h3>
            <h5 class="project--rating">
              <span th:text="|좋아요 : ${post.likes} From (${post.viewed})|"></span>
            </h5>

            <form class="form" action="#" method="POST">
              <!-- Textarea -->
              <div class="form__field">
                <label for="formInput#textarea">Comments: </label>
                <textarea class="input input--textarea" name="message" id="formInput#textarea"
                  placeholder="댓글을 남겨주세요"></textarea>
              </div>
              <input class="btn btn--sub btn--lg" type="submit" value="작성" />
            </form>
            <div class="commentList">
              <div class="comment">
                <div class="comment__details">
                  <a href="profile.html" class="comment__author">댓글 작성자</a>
                  <p class="comment__info">
                    댓글 본문 영역
                  </p>
                </div>
              </div>
              <div class="comment">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
</body>
<script th:src="@{/js/post.js}"></script>
</html>